<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kullanıcı Ekle</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

</head>
<body>
<div layout:fragment="content" th:remove="tag" >
    <div class="alert alert-success" role="alert">
<div class="container my-5">
    <h3 class="alert-heading">Kayıt Düzenle</h3>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/owners/save}" th:object="${owner}"
                      method="post">
                    <div class="row">
                        <table class="table">
                            <div class="form-group col-md-8">
                                <label for="firstName" class="col-form-label">İsim</label>
                                <input type="text" th:field="*{firstName}" class="form-control"
                                       id="firstName" placeholder="İsim" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="lastName" class="col-form-label">Soyad</label>
                                <input type="text" th:field="*{lastName}" class="form-control"
                                       id="lastName" placeholder="Soyad" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" th:field="*{email}" class="form-control"
                                       id="email" placeholder="Email Id" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">Telefon Numarası</label>
                                <input type="text" th:field="*{phoneNumber}" class="form-control"
                                       id="phone" placeholder="Telefon" />
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
</body>
</html>