<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veteriner Login</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div layout:fragment="content" th:remove="tag" >
    <div class="alert alert-success" role="alert">
        <div class="container my-5">
        <h3 class="alert-heading">Randevu Kaydı Düzenle</h3>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/date/save}" th:object="${appointments}"
                          method="post">
                        <div class="row">
                            <table class="table">
                                <div class="form-group col-md-4">
                                    <label for="date">Tarih</label>
                                    <input class="form-control" type="date" id="date" name="date" th:field="*{date}" placeholder="Örneğin: 01-01-2020"/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="time">Saat</label>
                                    <input class="form-control" type="time" id="time" name="time" th:field="*{time}" placeholder="Örneğin: 15:30"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="animalName">Hayvan Adı</label>
                                    <input class="form-control" type="text" id="animalName" name="animalName" th:field="*{animalName}" placeholder="Örneğin: Tekir"/>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="animalName">Hayvan Türü</label>
                                    <input class="form-control" type="text" id="animalType" name="animalType" th:field="*{animalType}" placeholder="Örneğin: Kedi"/>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="description">Açıklama</label>
                                    <input class="form-control" type="text" id="description" name="description" th:field="*{description}" placeholder="Örneğin yapılması gereken bir durum"/>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="priority">Önem Derecesi</label>
                                    <input class="form-control" type="text" id="priority" name="priority" th:field="*{priority}" placeholder="Örneğin: Yüksek"/>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" value=" Kaydet ">
                                    <a class="btn btn-danger" href="#" th:href="@{/date/list-appointments}">Geri</a>
                                </div>
                                <input type="hidden" id="id" th:field="*{id}">
                               <!-- <button class="btn btn-info" type="submit">Ekle</button>
                                <a class="btn btn-danger" href="#" th:href="@{/date/list-appointments}">Geri</a>-->
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>