<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veteriner Login</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/img/body.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
  <!--  <h1 align="center">Veteriner Otomasyon Sistemi</h1>
    <p align="center">Veteriner otomasyon sistemine hoşgeldiniz. Kayıtlar ve randevulara site üzerinden ulaşabilirsiniz.</p>
    <p align="center">Giriş ekranı için <a href="/user" th:href="@{/login}"> Tıklayınız.</a></p>-->

    <div class="jumbotron">
        <h1 align="center">Veteriner Randevu Kayıt Sistemi</h1>
        <p align="center">Veteriner randevu kayıt sistemine hoşgeldiniz. Kayıtlar ve randevulara site üzerinden ulaşabilirsiniz.</p>
        <p align="center"><a class="btn btn-primary btn-lg" href="#" th:href="@{/login}" role="button">Giriş Ekranı</a></p>
    </div>

</div>
</body>
</html>