<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veteriner Login</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag" >
<div class="container">
    <h2>Randevu Kayıtları</h2>
    <p class="my-5">
        <a href="/date/new" class="btn btn-primary">
            <i class="fas fa-calendar-plus">Yeni Randevu </i></a>
    </p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Hayvan Adı</th>
            <th>Hayvan Türü</th>
            <th>Açıklama</th>
            <th>Önem Derecesi</th>
            <th>Sahip No</th>
            <th>Düzenle</th>
            <th>Sil</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment: ${allAppointment}">
            <td><span th:text="${#dates.format(appointment.date, 'dd/MM/yyyy')}"></span></td>
            <td><span th:text="${#dates.format(appointment.time, 'HH:mm')}"></span></td>
            <td><span th:text="${appointment.animalName}"></span></td>
            <td><span th:text="${appointment.animalType}"></span></td>
            <td><span th:text="${appointment.description}"></span></td>
            <td><span th:text="${appointment.priority}"></span></td>
            <td><span th:text="${appointment.owner}"></span></td>
            <td>
                <a th:href="@{'/date/edit/' + ${appointment.id}}" class="btn btn-primary">
                    <i class="far fa-calendar-check"></i>
                </a>
            </td>
            <td>
                <a th:href="@{'/date/delete/' + ${appointment.id}}" class="btn btn-primary">
                    <i class="far fa-calendar-times"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>