<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veteriner Login</title>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag" >

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 align="center">Giriş</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Yanlış kullanıcı adı yada şifre girdiniz.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        Çıkış yaptınız.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Kullanıcı Adı</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Kullanıcı Adı">
                </div>
                <div class="form-group">
                    <label for="password">Şifre</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Şifre">
                </div>
                <br/>
                Beni hatırla: <input type="checkbox" name="remember-me"><br/>
                <div class="form-group">
                    <div class="row" >
                        <div class="col-12 mt-2 col-sm-offset-7">
                            <button align="center" class="btn btn-success" type="submit">Giriş</button>
                            <a align="center" class="btn btn-info" href="#" th:href="@{/users/new}"> Veteriner Kullanıcı Kaydı </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--<p><a href="/" th:href="@{/}">Sayfayı Yenile</a></p> <div class="col-sm-4 col-sm-offset-2">-->

</div>
</body>
</html>